.banner {
  position: relative;
  width: 100%;
  height: 70vh;
  background: url(../img/hlst/bg.jpg) no-repeat;
  background-attachment: fixed;
}
.banner .txt {
  width: 100%;
  position: absolute;
  left: 0;
  top: 45%;
  text-align: center;
  color: #fff;
  font-size: 40px;
}
.banner .txt p:nth-child(2) {
  font-family: Exotic;
  opacity: 0.7;
}
.banner .nav-1 {
  position: absolute;
  left: 0;
  bottom: 1;
  width: 100%;
  height: auto;
  text-align: center;
  overflow: hidden;
}
.banner .nav-1 a {
  transition: 0.5s;
  width: auto;
  padding: 10px 30px;
  padding-left: 65px;
  display: inline-block;
  position: relative;
  margin: 0 5px;
  font-size: 16px;
  color: #fff;
}
.banner .nav-1 a b {
  line-height: 40px;
  font-weight: 400;
  position: relative;
  z-index: 5;
}
.banner .nav-1 a::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  transition: 0.35s cubic-bezier(0.77, 0, 0.175, 1) 0s;
}
.banner .nav-1 a:nth-of-type(1):before {
  height: 100%;
  background: #126fcc;
}
.banner .nav-1 a::after {
  position: relative;
  z-index: 5;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 30px;
  top: 15px;
  content: '';
  background: url(../img/hlst/nav_icon.png) no-repeat;
  background-size: auto 30px;
}
.banner .nav-1 a:nth-of-type(2)::after {
  background: url(../img/hlst/n_icon2.png) no-repeat;
  background-size: auto 30px;
}
.banner .nav-1 a:nth-of-type(3)::after {
  background: url(../img/hlst/n_icon3.png) no-repeat;
  background-size: auto 30px;
}
.banner .nav-1 a:hover::before {
  height: 100%;
  background: #126fcc;
}
.zhly {
  z-index: 999;
  background: #ecedf2;
  margin: 0 auto;
}
.zhly img {
  width: 100%;
  display: block;
}
.w1200 {
  width: 1200px;
  margin: 0 auto;
}
.sub_title {
  width: 514px;
  height: auto;
  margin: auto;
  padding: 50px 0 25px;
}
.sub_title img {
  display: block;
  margin: 0 auto;
}
.sbox {
  background: url(../img/hlst/ct_bg.jpg) no-repeat;
  background-attachment: fixed;
  padding-bottom: 100px;
}
.sbox .ct_list {
  width: 100%;
  margin: 0 auto;
}
.sbox .ct_list ul {
  display: flex;
}
.sbox .ct_list ul li {
  width: 33%;
}
.sbox .ct_list ul li .thum {
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 50%;
  margin: auto;
  background: #00a0e8;
  margin-bottom: 15px;
}
.sbox .ct_list ul li .thum::after {
  content: '';
  position: absolute;
  width: 90%;
  height: 90%;
  left: 5%;
  top: 5%;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #fff;
}
.sbox .ct_list ul li .thum img {
  width: 80px;
  height: 80px;
  margin-top: 35px;
  margin-left: 60px;
}
.sbox .ct_list ul li .thum p {
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  color: #fff;
  margin-top: 5px;
  font-weight: 700;
}
.sbox .ct_list ul li .name {
  width: 120px;
  height: auto;
  margin: auto;
  color: #fff;
}
.sbox .ct_list ul li .name p {
  display: block;
  font-size: 16px;
  line-height: 40px;
  border-bottom: 1px solid #fff;
  text-align: center;
}
.sbox2 {
  background: #fff url(../img/009bg.jpg);
  padding-bottom: 100px;
}
.sbox2 .ct {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.sbox2 .ct li {
  width: 45%;
  height: auto;
  margin-right: 4%;
  margin-bottom: 25px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
}
.sbox2 .ct li .thum {
  width: 140px;
  height: 120px;
  float: left;
  position: relative;
  background: #006fc0;
}
.sbox2 .ct li .thum .icon {
  width: 56px;
  height: 56px;
  float: left;
  margin-left: 42px;
  margin-top: 20px;
}
.sbox2 .ct li .thum .txt {
  width: 100%;
  height: auto;
  text-align: center;
  float: left;
  font-size: 18px;
  margin-top: 5px;
  color: #fff;
}
.sbox2 .ct li .info {
  width: calc(100% - 180px);
  float: left;
  margin-left: 20px;
  margin-top: 30px;
  font-size: 16px;
  line-height: 1.7;
}
.sbox3 .menu_bar {
  text-align: center;
  margin-bottom: 20px;
}
.sbox3 .menu_bar a {
  width: auto;
  line-height: 40px;
  display: inline-block;
  color: #292929;
  font-size: 18px;
  margin: 0 20px;
  position: relative;
  z-index: 2;
  transition: 0.35s;
  cursor: pointer;
}
.sbox3 .menu_bar a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #006fc0;
  z-index: -1;
  opacity: 0;
  transform: scale(1.2);
  transition: 0.35s;
}
.sbox3 .menu_bar a .icon_ {
  width: 53px;
  height: 53px;
  background-color: #3b3b3b;
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
}
.sbox3 .menu_bar a p {
  line-height: 40px;
}
.sbox3 .menu_bar .active {
  color: #006fc0;
}
.sbox3 .menu_bar .active .icon_ {
  background: #086cbf;
}
.sbox3 .menu_bar .active .icon_::after {
  content: '';
  position: absolute;
  border-top: 12px solid #086cbf;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  left: 50%;
  bottom: -6px;
  margin-left: -8px;
}
.sbox3 .travel_typeTab {
  height: auto;
  text-align: center;
  font-size: 16px;
  margin: 0 auto;
  overflow: hidden;
}
.sbox3 .travel_typeTab .ul a {
  line-height: 50px;
  padding: 0px 15px;
  display: inline-block !important;
  opacity: 0.5;
  color: #3e3e3e;
}
.sbox3 .travel_typeTab .active {
  display: block;
}
.sbox3 .travel_typeTab .active .active {
  opacity: 1 !important;
}
.sbox3 .travel_typeTab .alpha {
  display: none;
}
.sbox3 .travel_typeTab .alpha ul {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f6f7fa;
}
.sbox3 .travel_typeTab .alpha ul li {
  border-bottom: 3px solid #cacfdd;
  font-size: 15px;
  display: inline-block;
  flex: auto;
  border-top: 3px solid transparent;
  cursor: pointer;
  line-height: 40px;
}
.sbox3 .travel_typeTab .alpha ul .active {
  background-color: #006fc0;
  border-bottom-color: transparent;
  border-top-color: #006fc0;
  color: #fff;
}
.sbox3 .productBoxUl_box {
  width: 100%;
  overflow: hidden;
}
.sbox3 .productBoxUl_box .ProductShow {
  display: none;
}
.sbox3 .productBoxUl_box .active {
  display: block;
}
.sbox3 .productBoxUl_box .active .poster-main {
  margin: 0 auto;
}
.sbox3 .softwave_box {
  display: none;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  min-height: 460px;
  background-image: url(../img/hlst/pdbg.jpg);
  background-position: center bottom;
}
.sbox3 .softwave_box ul li {
  display: none;
  padding-left: 100px;
  padding-right: 490px;
  font-size: 18px;
  line-height: 2;
}
.sbox3 .softwave_box ul li .title {
  font-size: 24px;
  margin-bottom: 10px;
}
.sbox3 .softwave_box ul li .content {
  padding-left: 20px;
  width: 500px;
}
.sbox3 .softwave_box ul li .content p {
  line-height: 2;
}
.sbox3 .softwave_box ul .active {
  display: block;
}
@media screen and (max-width: 1200px) {
  .banner {
    padding-top: 80px;
  }
  .sbox3 .travel_typeTab .alpha {
    overflow: hidden;
    overflow-x: scroll;
  }
  .sbox3 .travel_typeTab .alpha ul {
    width: 1200px;
  }
  .sbox3 .softwave_box {
    background: none;
    height: auto;
    padding: 5vw;
    min-height: auto;
  }
  .sbox3 .softwave_box ul li {
    padding: 0;
  }
  .sbox3 .softwave_box ul li .content {
    width: auto;
  }
  .w1200 {
    width: 90%;
  }
  .nav-1 {
    position: relative;
    bottom: auto;
    background-color: #414141;
  }
  .nav-1 a::before {
    display: none !important;
  }
  .nav-1 a:nth-of-type(1) {
    background-color: #006fc0;
  }
}
@media screen and (max-width: 960px) {
  .sbox2 .ct li {
    width: 100%;
  }
  .nav-1 {
    display: flex;
  }
  .nav-1 a {
    width: 33% !important;
    padding: 10px 0 !important;
  }
  .nav-1 a::after {
    display: none !important;
  }
  .zhly .w1200 {
    width: 90%;
  }
}
@media screen and (max-width: 760px) {
  .banner {
    padding-top: 60px;
  }
  .ct_list {
    overflow: hidden;
    overflow-x: scroll;
  }
  .ct_list ul {
    width: 205vw;
  }
  .ct_list ul li {
    width: 65vw;
    margin-right: 5vw;
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 10vw 0;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .ct_list ul li .thum {
    width: 130px !important;
    height: 130px !important;
  }
  .ct_list ul li .thum img {
    width: 45px !important;
    height: 45px !important;
    margin: 0 42.5px !important;
    margin-top: 20px !important;
  }
}
